<link href='https://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Caesar+Dressing' rel='stylesheet' type='text/css'>

<h1>
  <span class="fire">G</span>
  <span class="burn">A</span>
  <span class="burn">R</span>
  <span class="fire">B</span>
  <span class="fire">A</span>
  <span class="fire">G</span>
  <span class="fire">E</span>
  <span class="fire">F</span>
  <span class="fire">I</span>
  <span class="fire">R</span>
  <span class="fire">E</span>
</h1>

<div class="menu">

  <span class="menu-item">
    <%= link_to "ALL DUMPSTERS", dumpsters_path %>
  </span>

  <span class="menu-item">
      <%= link_to "ALL GARBAGE ITEMS", garbage_items_path %>
  </span>

</div>
