<h1>Insert the form to create a new instance of your model.</h1>

<!-- request ===== response -->
<!-- new criminal -->

<!-- <form action="/action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form> -->


<!-- html tag name hit tab => boom! -->
<!-- criminal_name, secret_power, length_of_last_prison_term -->
<!-- method: tells you that is posts, would it? -->
<!-- action is where we post to -->
<!-- what was that restful route? -->
<form action="/goo" method="post">
  <input type="text" name="criminal_name" placeholder="Insert criminal's name">
  <input type="text" name="secret_power" placeholder="Insert secret power">
  <input type="text" name="length_of_last_prison_term" placeholder="how many years?">

  <input type="submit" value="submit that crimnal!!!" />
</form>
