<h1>Insert the form to create a new instance of your model.</h1>

request ===== response

<form action="/action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form>


<!-- html tag name hit tab => boom! -->
<form class="" action="index.html" method="post">
    <input type="text" name="" value="">
</form>
