<h1>This is the show page for an individual instance of your model.</h1>

<h2><%= @whatevewriwant.criminal_name %></h2>

<h3><%= @whatevewriwant.secret_power %></h3>
<h3><%= @whatevewriwant.length_of_last_prison_term %></h3>
