<h1>Let's edit the heck out of <%= @student.name %></h1>

<!-- <form action="/sarcastic_students/<%= @student.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="">Favorite Joke:</label>
  <input type="text" name="fav_joke" value="<%= @student.fav_joke %>">
  <input type="submit" name="" value="Submit">

</form> -->

<%= render "form" %>
